<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body
    class="bg-zinc-900 text-white min-h-screen grid place-items-center"
  >

  <% if(!locals.topic) {%>

    <div class="text-amber-500 text-6xl font-bold text-center">No topic selected</div>

  <% }%>

</body>
</html>
